<div class="container-fluid height-90">
    <!-- Updates - Heena -->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a routerLink="/home" class="c-pointer"> <img src="../../assets/img/logo.png"></a>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 login-singup">
                        <a routerLink="/register" class="login-singup-a c-pointer">SignIn</a>
                        <a routerLink="/login" style="margin-left: 2%" class="login-singup-a c-pointer">Register</a>
                    </div>
                </div>
                <div class="row mt-3">

                    <div class="col-sm-6 home-product">
                        <span routerLink="/home" class="c-pointer">Home</span>
                        <span routerLink="/product-listing" class="c-pointer" style="margin-left: 10%">Products</span>
                    </div>

                    <div class="col-sm-6">
                        <div class="cart-button">
                            <div class="cart-icon">
                                <img class="cart-logo" src="../../../assets/img/cart.svg">
                            </div>
                            <span class="cart-count" > 0 items</span>
                        </div>
                        
                        <!-- <div class="row cart-imag c-pointer"  routerLink="/cart">
                            <div class="col-sm-6">
                                <img class="cart-logo" src="../../../assets/img/cart.svg">
                            </div>
                            <div class="col-sm-6 p-0">
                                <span class="cart-iteamcount  " > 0 item</span>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>