<div class="container-fluid height-90">
    <div class="container">
        <nav class="navbar navbar-inverse relative">
              <div class="navbar-header">
                  <a routerLink="/home" class="c-pointer"> <img src="../../assets/img/logo.png" alt="logo"></a>
              </div>
              <div class="login-register">
                <a routerLink="/auth/login" class="login-register-button c-pointer">SignIn</a>
                <a routerLink="/auth/register" class="login-register-button c-pointer">Register</a>
              </div>
              <div class="navbar-items margin-top-custom">
                  <span class="active"><a routerLink="/home" class="c-pointer">Home</a></span>
                  <span><a routerLink="/products" class="c-pointer" style="margin-left: 5%">Products</a></span>
                  <ul class="nav navbar-nav navbar-right margin-top-custom cart-button-layout" style="position: absolute;right: 0px;margin-top: 0px;bottom: -6px;">
                <li class="cart-button  c-pointer"  (click)="open()">
                    <div class="cart-icon">
                        <img class="cart-logo" src="../../../assets/img/cart.svg" alt="cart">
                    </div>
                    <span class="cart-count"  > {{totalCartItem}} items</span>    
                </li>
              </ul>  
              </div>
            
        </nav>
    </div>
</div>
<app-cart-list></app-cart-list>
