<div class="container-fluid">
    <div class="container-sm visible-xs">
        <div class="row product-listing">
            <div class="col-sm-12 col-xs-12">
                <div class="sidebar-filter">
                    <app-sidebar-filter></app-sidebar-filter>
                </div>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <div class="product-item">
                                    <div class="product-name">
                                        <span>Fresho Kiwi - Green, 3pcs</span>
                                    </div>
                                    <div class="product-image">
                                        <img src="../../assets/img/fruit-n-veg/kiwi-green.jpg">
                                    </div>
                                    <div class="product-desc">
                                        <span>Kiwis are oval shaped with a brownish outer skin. This flesh is bring green and juicy with tiny, edible black seeds</span>
                                    </div>
                                    <div class="product-options">
                                        <div class="product-price">
                                            <span>MRP Rs. <span>87</span></span>
                                        </div>
                                        <div class="product-button">
                                            <div class="product-btn buy-btn">Buy Now</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="product-item">
                                    <div class="product-name">
                                        <span>Fresho Kiwi - Green, 3pcs</span>
                                    </div>
                                    <div class="product-image">
                                        <img src="../../assets/img/fruit-n-veg/kiwi-green.jpg">
                                    </div>
                                    <div class="product-desc">
                                        <span>Kiwis are oval shaped with a brownish outer skin. This flesh is bring green and juicy with tiny, edible black seeds</span>
                                    </div>
                                    <div class="product-options">
                                        <div class="product-price">
                                            <span>MRP Rs. <span>87</span></span>
                                        </div>
                                        <div class="product-button">
                                            <div class="product-btn buy-btn">Buy Now</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="product-item">
                                    <div class="product-name">
                                        <span>Fresho Kiwi - Green, 3pcs</span>
                                    </div>
                                    <div class="product-image">
                                        <img src="../../assets/img/fruit-n-veg/kiwi-green.jpg">
                                    </div>
                                    <div class="product-desc">
                                        <span>Kiwis are oval shaped with a brownish outer skin. This flesh is bring green and juicy with tiny, edible black seeds</span>
                                    </div>
                                    <div class="product-options">
                                        <div class="product-price">
                                            <span>MRP Rs. <span>87</span></span>
                                        </div>
                                        <div class="product-button">
                                            <div class="product-btn buy-btn">Buy Now</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="product-item">
                                    <div class="product-name">
                                        <span>Fresho Kiwi - Green, 3pcs</span>
                                    </div>
                                    <div class="product-image">
                                        <img src="../../assets/img/fruit-n-veg/kiwi-green.jpg">
                                    </div>
                                    <div class="product-desc">
                                        <span>Kiwis are oval shaped with a brownish outer skin. This flesh is bring green and juicy with tiny, edible black seeds</span>
                                    </div>
                                    <div class="product-options">
                                        <div class="product-price">
                                            <span>MRP Rs. <span>87</span></span>
                                        </div>
                                        <div class="product-button">
                                            <div class="product-btn buy-btn">Buy Now</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="product-item">
                                    <div class="product-name">
                                        <span>Fresho Kiwi - Green, 3pcs</span>
                                    </div>
                                    <div class="product-image">
                                        <img src="../../assets/img/fruit-n-veg/kiwi-green.jpg">
                                    </div>
                                    <div class="product-desc">
                                        <span>Kiwis are oval shaped with a brownish outer skin. This flesh is bring green and juicy with tiny, edible black seeds</span>
                                    </div>
                                    <div class="product-options">
                                        <div class="product-price">
                                            <span>MRP Rs. <span>87</span></span>
                                        </div>
                                        <div class="product-button">
                                            <div class="product-btn buy-btn">Buy Now</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>