<p>card-item works!</p>
<div class="card">
    <div class="card-body">Basic card - 1

        <!-- <div class="container"> -->
        <div class="row">
            <div class="col-sm-12 card-product">
                <div class="cart-item-img">
                    <img src="../../../assets/img/fruit-n-veg/apple.jpg" alt="">
                </div>
                
                <div class="product-description">
                    <div class="heading">
                        <span>Apple wwashington, Regular, 4 pics</span>
                    </div>
                    <div class="desc-summary">
                        <i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i>
                        <span class="item">1</span>
                        <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                        <span class="cross">x</span>
                        <span class="price">187</span>
<!-- Heenaa's change -->
                        <span class="total-price">Rs <span>187</span></span>
                    </div>
<!-- my change  -->
                    <!-- <span class="total-price">Rs <span>187</span></span>  -->
                </div>
                <!-- <div class="row">
                    <div class="col-sm-2"><i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i></div>
                    <div class="col-sm-1">1</div>
                    <div class="col-sm-2"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></div>
                    <div class="col-sm-1">x</div>
                    <div class="col-sm-2">187</div>
                    <div class="col-sm-4">186</div>
                </div> -->
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>

<!-- 
<div class="container">
    <div class="card">
        <div class="card-body">Basic card - 2</div>
        <div class="row">
            <div class="col-sm-3 cart-item-img">
                <img src="../../../assets/img/fruit-n-veg/apple.jpg" alt="">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <h2>Apple wwashington, Regular, 4 pics</h2>
                </div>
                <div class="row">
    
                </div>
            </div>
        </div>
    </div>
   
</div> -->